@model User

<div class="FormContainer">
    <form class="LoginForm" action="Forgor" class="AccountForm">
        <div class="FormSection">
            <input type="text" name="email" class="FormInput" placeholder="Email" />
        </div>
        <div class="FormSection">
            <input type="submit" class="FormSubmit" />
        </div>
    </form>
    <div class="forgotpass">
        <a>Forgot Password?</a>
    </div>
</div>

@section Scripts {

}