@model AccountRecovery

<div class="FormContainer">
    <form class="LoginForm" action="UserResetPassword" class="AccountForm">
        <div class="FormSection"> 
            <input type="text" name="Id" value="@Model.Id" class="FormInput" />
        </div>
        <div class="FormSection">
            <input type="password" name="newpassword" class="FormInput" placeholder="Password"/>
        </div>
        <div class="FormSection">
            <input type="submit" class="FormSubmit" />
        </div>
    </form>
    <div class="forgotpass">
        @Html.ActionLink("Forgot password?", "ForgotPassword", "Account")
    </div>
</div>
@section Scripts {

}